.profileInfo__content {
    width: 100px;
}

.profileInfo__contacts {
    display: flex;
    flex-direction: column;
}

.profileInfo__contacts ul{
    padding: 0;
    margin: 0;
}

.profileInfo__contacts li{
    margin: 0;
    list-style-type: none;   
}