.main_header {
    grid-area: header;
    background-color: #fff;
    color: #7d39b4;
    border: 3px solid #7d39b4;
}

.login {
    float: right;
    padding-right: 5px;
}

.login_link {
    color: #7d39b4;
}

.login_link:hover {
    color: #7d39b4b2;
    cursor: pointer;
}
