.dialog__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dialog__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dialog__name {
    color: #fff;
    text-decoration: none;
}

.dialog__name:hover {
    color: rgb(247, 243, 30);
}
